{% extends "global/partials/_table.html" %}
{% load static %}
{% block additional_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "competitions/css/competitions-table-sports.css" %}">
{% endblock additional_head %}
{% if db_regs|length != 0 %}
  {% block table_header_rows %}
    <th class="base-table-header">Esporte</th>
    <th class="base-table-header">Categorias</th>
  {% endblock table_header_rows %}
{% endif %}
{% block table_rows %}
  {% for reg in db_regs %}
    <tr class="base-table-row">
      <td class="base-table-cell base-table-cell-left">{{ reg.name }}</td>
      <td class="base-table-cell base-table-cell-right">
        <div class="category-tags-wrapper">
          {% for category in reg.get_categories %}
            <div class="category-tag {{ category.get_css_class }}">{{ category.name }}</div>
          {% endfor %}
        </div>
      </td>
    </tr>
  {% endfor %}
{% endblock table_rows %}
