{% extends "global/partials/_table.html" %}
{% load static %}
{% block table_header_rows %}
  <th class="base-table-header">Prova</th>
  <th class="base-table-header">Data</th>
{% endblock table_header_rows %}
{% block table_rows %}
  {% for reg in competition_regs %}
    <tr class="base-table-row">
      <td class="base-table-cell base-table-cell-left">{{ reg.title }}</td>
      <td class="base-table-cell base-table-cell-right">
        <span class="base-table-date">{{ reg.date_time|date:"SHORT_DATETIME_FORMAT" }}</span>
      </td>
    </tr>
  {% endfor %}
{% endblock table_rows %}
