{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "competitions/css/competition-table.css" %}">
{% endblock additional_head %}
<div class="competitions-table-wrapper">
  <table class="competitions-table table">
    <thead class="competitions-table-head">
      <tr>
        {% block table_header_rows %}{% endblock table_header_rows %}
      </tr>
    </thead>
    <tbody class="competitions-table-body">
      {% block table_rows %}{% endblock table_rows %}
    </tbody>
  </table>
</div>