{% extends "global/partials/_table.html" %}
{% load static %}
{% block additional_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "competitions/css/competitions-table-sports.css" %}">
{% endblock additional_head %}
{% block table_header_rows %}
  <th class="base-table-header">Esporte</th>
  <th class="base-table-header">Categorias</th>
{% endblock table_header_rows %}
{% block table_rows %}
  {% for reg in db_regs %}
    <tr class="base-table-row">
      <td class="base-table-cell base-table-cell-left">
        <a href="{% url 'competitions:sports_detailed' reg.slug %}">
          {{ reg.name }}
        </a>
      </td>
      <td class="base-table-cell base-table-cell-right">
        <div class="category-tags-wrapper">
          {% for category in reg.get_categories %}
            <div class="category-tag {{ category.get_css_class }}">{{ category.name }}</div>
          {% endfor %}
        </div>
        <a href="{% url 'competitions:sports_edit' reg.slug %}"><img style="filter:var(--filter-green-500);" class="base-table-edit" src="/static/global/img/edit.svg" alt=""></a>
      </td>
    </tr>
  {% endfor %}
{% endblock table_rows %}
