{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "competitions/css/competition-table.css" %}">
{% endblock additional_head %}
<div class="competitions-table-wrapper">
  <table class="competitions-table table">
    <thead class="competitions-table-head">
      <tr>
        <th class="competitions-table-header">Esporte</th>
        <th class="competitions-table-header">Categorias</th>
      </tr>
    </thead>
    <tbody class="competitions-table-body">
      {% for reg in sport_regs %}
        <tr class="competitions-table-row">
          <td class="competitions-table-cell competitions-table-cell-left">{{ reg.name }}</td>
          <td class="competitions-table-cell competitions-table-cell-right">
            <div class="category-tags-wrapper">
              <div class="category-tag category-tag-male">Masculino</div>
              <div class="category-tag category-tag-female">Feminino</div>
              <div class="category-tag category-tag-mix">Misto</div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>