{% extends "global/pages/base_header.html" %}
{% load static %}
{% block header %}Edições{% endblock header %}
{% block content %}
  {% load custom_tags %}
  {% if db_regs|length != 0 %}
    {% include "global/partials/_search-bar.html" %}
  {% endif %}
  {% load_create_button user=user namespace="editions:create" label="Criar edição" %}
  {% load_regs db_regs user=user template="editions/partials/_edition-item.html" empty="Nenhuma edição foi encontrada."%}
  {% load_paginator_partial paginator number=page_obj.number%}
{% endblock content %}