{% extends "global/pages/base_form.html" %}
{% load static %}
{% block header %}Editar edição{% endblock header %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "editions/css/edition-form.css" %}">
{% endblock additional_head %}
{% block form_fields %}
  {% csrf_token %}
  {% load custom_tags %}
  {% for field in form %}
    {% if field.name != 'sports' %}
      <div class="field-group">
        <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
        {% if field.name != 'teams' and field.name != 'sports' %}
          {{ field }}
        {% endif %}
        {% check_error field %}
      </div>
    {% endif %}
  {% endfor %}
  {% include "editions/partials/_edition-edit-table.html" %}
{% endblock form_fields %}
{% block additional_script %}
  <script src="{% static "editions/js/edition-type.js" %}"></script>
{% endblock additional_script %}