{% load static %}
<footer>
  <div class="footer-content content">
    <div class="footer-container-top">
      <div class="footer-column">
        <h6 class="footer-heading">Mapa do Site</h6>
        <a href="{% url "home:home" %}" class="footer-text">Início</a>
        <a href="{% url "competitions:home" %}" class="footer-text">Competições</a>
        <a href="{% url "teams:home" %}" class="footer-text">Times</a>
        <a href="{% url "teams:classes:home" %}" class="footer-text">Turmas</a>
        <a href="{% url "teams:courses:home" %}" class="footer-text">Cursos</a>
        <a href="{% url "news:list" %}" class="footer-text">Notícias</a>
        <a href="{% url "editions:home" %}" class="footer-text">Edições</a>
        <a href="{% url "archive:list" %}" class="footer-text">Acervo</a>
        <a href="{% url "documents:documents" %}" class="footer-text">Documentos</a>
      </div>
      <div class="footer-column">
        <h6 class="footer-heading">Desenvolvedores</h6>
        <a target="_blank" href="https://github.com/JamesIslan" class="footer-text">Joamerson Islan Santos Amaral</a>
        <a target="_blank" href="https://github.com/sergiodantasz" class="footer-text">Sérgio Victor dos Santos Dantas</a>
      </div>
      <div class="footer-column">
        <h6 class="footer-heading">Contato</h6>
        <a target="_blank" href="mailto:semadechub@gmail.com" class="footer-text">semadechub@gmail.com</a>
      </div>
      <div class="footer-column">
        <h6 class="footer-heading">Código-fonte</h6>
        <a target="_blank" href="https://github.com/sergiodantasz/SEMADEC-Hub" class="footer-text">Disponível no GitHub</a>
      </div>
    </div>
    <div class="footer-container-bottom">
      <span class="footer-copyright">Copyright © 2024 SEMADEC Hub</span>
      <div class="footer-logos">
        <img class="ifrn-logo" src="{% static "global/img/ifrn-logo.png" %}" alt="IFRN logo.">
        <hr class="footer-divider">
        <span class="semadec-hub-logo">SEMADEC Hub</span>
      </div>
    </div>
  </div>
</footer>