<nav class="navigation-bar">
  <div class="content navigation-bar-container">
    <header class="navigation-bar-header">
      <h4>SEMADEC Hub</h4>
    </header>
    <div class="navigation-bar-menu">
      <ul class="navigation-bar-options">
        <li class="home-option" id="home-option">
          <a href="{% url "home:home" %}">Início</a>
        </li>
        <li class="competitions-option" id="competitions-option">
          <a href="{% url "competitions:competitions" %}">Competições</a>
        </li>
        <li class="news-option" id="news-option">
          <a href="{% url "news:news" %}">Notícias</a>
        </li>
        <li class="editions-option" id="editions-option">
          <a href="">Edições</a>
        </li>
        <li class="archive-option" id="archive-option">
          <a href="{% url "archive:archive" %}">Acervo</a>
        </li>
        <li class="documents-option" id="documents-option">
          <a href="{% url "documents:documents" %}">Documentos</a>
        </li>
      </ul>
      <hr class="navigation-bar-divider">
      {% if request.user.is_authenticated %}
        {% include "global/partials/_profile-button.html" %}
      {% else %}
        {% include "global/partials/_login-button.html" %}
      {% endif %}
      <div class="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</nav>