<nav class="navigation-bar">
  <div class="content navigation-bar-container">
    <header class="navigation-bar-header">
      <h4>SEMADEC Hub</h4>
    </header>
    <div class="navigation-bar-menu">
      <ul class="navigation-bar-options">
        <li><a href="{% url "home:home" %}">Início</a></li>
        <li><a href="{% url "competitions:home" %}">Competições</a></li>
        <li><a href="{% url "news:list" %}">Notícias</a></li>
        <li><a href="{% url "editions:editions" %}">Edições</a></li>
        <li><a href="{% url "archive:list" %}">Acervo</a></li>
        <li><a href="{% url "documents:documents" %}">Documentos</a></li>
      </ul>
      <hr class="navigation-bar-divider">
      {% if request.user.is_authenticated %}
        {% include "global/partials/_profile-button.html" %}
      {% else %}
        {% include "global/partials/_login-button.html" %}
      {% endif %}
      <div class="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</nav>