<nav class="navigation-bar">
  <div class="content navigation-bar-container">
    <header class="navigation-bar-header">
      <h4>SEMADEC Hub</h4>
    </header>
    <div class="navigation-bar-menu">
      <ul class="navigation-bar-options">
        <li class="home" id="home">
          <a href="">Início</a>
        </li>
        <li class="competitions" id="competitions">
          <a href="">Competições</a>
        </li>
        <li class="news" id="news">
          <a href="">Notícias</a>
        </li>
        <li class="editions" id="editions">
          <a href="">Edições</a>
        </li>
        <li class="archive" id="archive">
          <a href="">Acervo</a>
        </li>
        <li class="documents" id="documents">
          <a href="">Documentos</a>
        </li>
      </ul>
      <hr class="vertical-divider">
      {% if request.user.is_authenticated %}
        {% include "global/partials/_profile-button.html" %}
      {% else %}
        {% include "global/partials/_login-button.html" %}
      {% endif %}
      <div class="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </div>
</nav>