<div class="pagination">
  {% if first_page_out_of_range %}
    <a href="?page=1{{ additional_url_params }}" class="first-page">
      <div>1</div>
    </a>
  {% endif %}
  <div class="pagination-pages">
    {% for page in pagination %}
      <a href="?page={{ page }}{{ additional_url_params }}" class="pagination-pages-item {% if current_page == page %}current-page{% endif %}">
        <div>{{ page }}</div>
      </a>
    {% endfor %}
  </div>
  {% if last_page_out_of_range %}
    <a href="?page={{ total_pages }}{{ additional_url_params }}" class="last-page">
      <div>{{ total_pages }}</div>
    </a>
  {% endif %}
</div>