{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "global/css/pagination.css" %}">
{% endblock additional_head %}
<div class="pagination">
  {% if start_range %}
    <a href="?page={{ start_range }}" class="first-page">
      <div>{{start_range}}</div>
    </a>
  {% endif %}
  <div class="pagination-pages">
    {% for index in middle_range %}
      <a href="?page={{ index }}" class="pagination-pages-item">
        <div>{{index}}</div>
      </a>
    {% endfor %}
  </div>
  {% if end_range %}
    <a href="?page={{ end_range }}" class="last-page">
      <div>{{end_range}}</div>
    </a>
  {% endif %}
</div>