{% load static %}
<nav class="sidebar closed">
  <button type="button" class="toggle-sidebar">
    <img src="{% static "global/img/arrow.svg" %}" alt="Ícone de seta.">
  </button>
  <div class="sidebar-content">
    <h4 class="sidebar-title">Criar...</h4>
    <div class="sidebar-options">
      <a href="{% url "competitions:sports:create" %}">Esporte</a>
      <a href="{% url "competitions:tests:create" %}">Prova</a>
      <a href="{% url "editions:create" %}">Edição</a>
      <a href="{% url "teams:create" %}">Time</a>
      <a href="{% url "teams:classes:create" %}">Turma</a>
      <a href="{% url "teams:courses:create" %}">Curso</a>
      <a href="{% url "news:create" %}">Notícia</a>
      <a href="{% url "archive:create" %}">Acervo</a>
      <a href="{% url "documents:create" %}">Documento</a>
      <a href="{% url "home:tags:create" %}">Tag</a>
    </div>
  </div>
</nav>
{% block additional_script %}
  <link rel="stylesheet" href="{% static "global/css/sidebar.css" %}">
{% endblock additional_script %}
