{% load static %}
<nav class="sidebar closed">
  <button type="button" class="toggle-sidebar">
    <img src="{% static "global/img/arrow.svg" %}" alt="Ícone de seta.">
  </button>
  <div class="sidebar-content">
    <h4 class="sidebar-title">Criar...</h4>
    <div class="sidebar-options">
      <a href="">Esporte</a>
      <a href="">Prova</a>
      <a href="">Edição</a>
      <a href="">Time</a>
      <a href="">Turma</a>
      <a href="">Curso</a>
      <a href="">Notícia</a>
      <a href="">Acervo</a>
      <a href="">Documento</a>
      <a href="">Tag</a>
    </div>
  </div>
</nav>
{% block additional_script %}
  <link rel="stylesheet" href="{% static "global/css/sidebar.css" %}">
{% endblock additional_script %}
