{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "archive/css/archive-item-modal.css" %}">
{% endblock additional_head %}
<dialog class="dialog">
  <div class="dialog-image-wrapper">
    <img class="dialog-image">
  </div>
  <div class="dialog-buttons">
    <button type="button" class="dialog-button" id="dialog-button-close">
      <img class="dialog-button-image" src="{% static "global/img/close.svg"%}" alt="">
    </button>
    <a type="button" class="dialog-button" id="dialog-button-download">
      <img class="dialog-button-image" src="{% static "global/img/download.svg"%}" alt="">
    </a>
    {% if user.is_admin and is_owner %}
      <a type="button" class="dialog-button" id="dialog-button-delete">
        <img class="dialog-button-image" src="{% static "global/img/delete.svg"%}" alt="">
      </a>
    {% endif %}
  </div>
</dialog>