{% extends "global/pages/base_no_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "news/css/news-item.css" %}">
{% endblock additional_head %}
{% block content %}
  <form class="form" action="{{ form_action }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="field-group">
        {% if field.name != "content" %}
          <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
        {% endif %}
        {{ field }}
      </div>
    {% endfor %}
    <div class="form-buttons">
      <button class="button" type="reset">
        <img src="{% static "global/img/reset.svg" %}" alt="">
        <span>Reiniciar</span>
      </button>
      <button class="button" type="submit">
        <img src="{% static "global/img/ok.svg" %}" alt="">
        <span>Salvar</span>
      </button>
    </div>
  </form>
{% endblock content %}