{% extends "global/pages/base_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "users/css/profile.css" %}">
{% endblock additional_head %}
{% block header %}Perfil{% endblock header %}
{% block content %}
  <div class="profile-content-container">
    <div class="profile-content-inner-left">
      <div class="profile-content-photo-wrapper">
        <img class="profile-content-photo" src="{{ user.photo.url }}" alt="Foto do usuário.">
      </div>
      <form action="{% url "users:logout" %}" id="form-logout" method="post">
        {% csrf_token %}
        <button type="submit" class="button profile-content-button-leave">
          <img src="{% static "users/img/logout.svg" %}" alt="Ícone de sair.">
          <span>Sair</span>
        </button>
      </form>
    </div>
    <hr class="profile-content-divider">
    <div class="profile-content-inner-right">
      <div class="profile-content-info-wrapper">
        <h5 class="profile-content-info-title">Matrícula</h5>
        <span class="profile-content-info-text">{{ user.registration }}</span>
      </div>
      {% if user.campus %}
        <div class="profile-content-info-wrapper">
          <h5 class="profile-content-info-title">Campus</h5>
          <span class="profile-content-info-text">{{ user.campus.name }}</span>
        </div>
      {% endif %}
      <div class="profile-content-info-wrapper">
        <h5 class="profile-content-info-title">Data de Nascimento</h5>
        <span class="profile-content-info-text">{{ user.date_of_birth }}</span>
      </div>
      <div class="profile-content-info-wrapper">
        <h5 class="profile-content-info-title">Nome</h5>
        <span class="profile-content-info-text">{{ user.full_name }}</span>
      </div>
      <div class="profile-content-info-wrapper">
        <h5 class="profile-content-info-title">CPF</h5>
        <span class="profile-content-info-text">{{ user.cpf }}</span>
      </div>
      {% if user.course %}
        <div class="profile-content-info-wrapper">
          <h5 class="profile-content-info-title">Curso</h5>
          <span class="profile-content-info-text">{{ user.course.name }}</span>
        </div>
      {% endif %}
      <div class="profile-content-info-wrapper">
        <h5 class="profile-content-info-title">Vínculo</h5>
        <span class="profile-content-info-text">{{ user.link_type }}</span>
      </div>
      {% if user.emails %}
        <div class="profile-content-info-wrapper">
          <h5 class="profile-content-info-title">E-mails</h5>
          <div class="profile-content-info-text-wrapper">
            {% for email in user.emails.all %}
              <span class="profile-content-info-text profile-content-email">{{ email }}</span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
{% block additional_script %}
  <script src="{% static "users/js/logout.js" %}"></script>
{% endblock additional_script %}