{% extends "global/pages/base_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "news/css/news-item.css" %}">
{% endblock additional_head %}
{% block header %}Notícias{% endblock header %}
{% block content %}
  {% load custom_tags %}
  {% if user.is_admin %}
    <div class="admin-actions-wrapper">
      <a class="button" href="{% url "news:create" %}">
        <img src="{% static "global/img/add.svg" %}" alt="">
        <span>Criar notícia</span>
      </a>
    </div>
  {% endif %}
  {% if db_regs|length > 0 %}
    {% include "global/partials/_search-bar.html" %}
  {% endif %}
  {% load_regs db_regs user=user template="news/partials/_news-item.html" empty="Nenhuma notícia foi encontrada." reg="news" div="news-list" %}
{% endblock content %}