{% extends "global/pages/base_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "news/css/news-item.css" %}">
  <link rel="stylesheet" href="{% static "global/css/pagination.css" %}">
{% endblock additional_head %}
{% block header %}Notícias{% endblock header %}
{% block content %}
  {% load custom_tags %}
  {% if user.is_admin %}
    <div class="admin-actions-wrapper">
      <a class="button" href="{% url "news:create" %}">
        <img src="{% static "global/img/add.svg" %}" alt="">
        <span>Criar notícia</span>
      </a>
    </div>
  {% endif %}
  {% if db_regs|length > 0 %}
    {% include "global/partials/_search-bar.html" %}
    <div class="news-list">
      {% for news in db_regs %}
        {% include "news/partials/_news-item.html" %}
      {% endfor %}
    </div>
    {% if paginator and page_obj.has_other_pages %}
      {% make_pagination_range paginator=paginator current_page=page_obj.number additional_params=additional_url_params %}
    {% endif %}
  {% else %}
    <p class="nothing-found">Nenhuma notícia foi encontrada.</p>
  {% endif %}
{% endblock content %}