.homepage-block-outer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 5rem;
}

.homepage-block-inner {
  display: flex;
  flex-direction: column;
}

.homepage-block-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  align-self: center;
}

.homepage-block-divider {
  width: 73px;
  height: 3px;
  background-color: black;
  border-radius: 1rem;
}
.homepage-block-heading {
  font-family: var(--font-family);
  color: var(--green-950);
  font-size: 2.4rem;
  margin: 0 1rem;
  font-weight: 700;
}

.block-news-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  margin-bottom: 2rem;
  column-gap: 3rem;
}

.block-show-more {
  align-self: center;
  margin-top: 2rem;
}

.block-show-more a {
  font-size: 1.6rem;
  color: var(--green-950);
  font-family: var(--font-family);
  font-weight: 700;
  text-decoration-line: underline;
}

.block-news-item-outer {
  width: 100%;
}

.block-news-item-inner {
}
.block-news-item-line {
}
.block-news-item-title {
  font-family: var(--font-family);
  color: var(--green-950);
  font-size: var(--font-size-heading-normal);
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.block-news-item-excerpt {
  display: block;
  font-family: var(--font-family);
  color: var(--gray-700);
  font-size: var(--font-size-content-small);
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.block-news-item-date {
  display: block;
  font-family: var(--font-family);
  color: var(--gray-950);
  font-size: var(--font-size-content-tiny);
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .homepage-block-outer {
    grid-template-columns: repeat(1, 1fr);
  }
}
