.archive-item-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.archive-item-image-wrapper {
  width: 36rem;
  height: 17rem;
}

.archive-item-image {
  object-fit: cover;
  border-radius: 2.2rem;
}

.archive-item-title {
  color: var(--green-950); /*Is this color correct?*/
  font-family: var(--font-family);
  font-size: 2.2rem;
  font-weight: 500;
}
