.dialog {
  margin: auto;
  outline: none;
  border: none;
  overflow: hidden;
  transition: var(--transition);
  background: none;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  width: 80vw;
  height: 80vh;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.dialog-image-wrapper {
  overflow: hidden;
  width: auto;
  height: auto;
}

.dialog-image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 1rem;
}

.dialog-button {
  cursor: pointer;
  background: white;
  border: none;
  outline: none;
  width: 4rem;
  height: 4rem;
  padding: 0.3rem;
  border-radius: 50%;
}

.dialog-button-image {
  width: 100%;
  height: 100%;
  filter: var(--filter-green-500);
}
