.archive-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.archive-item-image-wrapper {
  width: 36rem;
  height: 17rem;
}

.archive-item-image {
  object-fit: cover;
  border-radius: 2rem;
}

.archive-item-title {
  font-weight: 400;
}
