.archive-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.archive-item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.archive-item-container:hover {
  transform: scale(1.05);
  background-color: var(--gray-100);
}

.archive-item-cover-wrapper {
  border-radius: inherit;
  height: 25rem;
  width: 100%;
}

.archive-item-cover {
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.archive-item-title {
  text-align: center;
  margin: 0 2rem 2rem 2rem;
  font-size: var(--font-size-content-normal);
}

@media (max-width: 900px) {
  .archive-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .archive-list {
    grid-template-columns: 1fr;
  }
}
