<a class="news-item-container" href="{% url "news:view_news" news.slug %}">
  {% if news.cover %}
    <div class="news-item-cover-wrapper">
      <img src="{{ news.cover.url }}" alt="Capa da notícia." class="news-item-cover">
    </div>
  {% endif %}
  <div class="news-item-content">
    <h5 class="news-item-title">{{ news.title }}</h5>
    <p class="news-item-excerpt">{{ news.excerpt }}</p>
    <span class="news-item-author-date">Por {{ news.administrator.name }} em {{ news.created_at }}</span>
  </div>
</a>