{% extends "global/pages/base.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "archive/css/archive-item.css" %}">
{% endblock additional_head %}
{% block content %}
  <section class="content">
    <h1>Archive</h1>
    <div class="archive-list">
      {% include "archive/partials/_archive-item.html" %}
      {% include "archive/partials/_archive-item.html" %}
      {% include "archive/partials/_archive-item.html" %}
      {% include "archive/partials/_archive-item.html" %}
      {% include "archive/partials/_archive-item.html" %}
    </div>
  </section>
{% endblock content %}