{% extends "global/pages/base_header.html" %}
{% load static %}
{% comment %} {% load custom_tags %} {% endcomment %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "archive/css/archive-item.css" %}">
{% endblock additional_head %}
{% block header %}Acervo{% endblock header %}
{% block content %}
  {% comment %} {% load_regs db_regs reg="archive_reg" div="archive-list" empty="Nenhuma coleção de acervo foi encontrada."%} {% endcomment %}
  {% if db_regs|length > 0 %}
    {% include "global/partials/_search-bar.html" %}
    <div class="archive-list">
      {% for archive_reg in db_regs %}
        {% include "archive/partials/_archive-item.html" %}
      {% endfor %}
    </div>
  {% else %}
    <p class="nothing-found">Nenhuma coleção de acervo foi encontrada.</p>
  {% endif %}

{% endblock content %}
