{% extends "competitions/partials/_competitions-table.html" %}
{% load static %}
{% block table_header_rows %}
  <th class="competitions-table-header">Equipe</th>
  <th class="competitions-table-header">Pontuação</th>
  <th class="competitions-table-header">Posição</th>
{% endblock table_header_rows %}
{% block table_rows %}
  {% for junc in edition.get_edition_team_current%}
    <tr class="competitions-table-row">
      <td class="competitions-table-cell">{{ junc.team.name }}</td>
      <td class="competitions-table-cell">{{ junc.score|floatformat:2 }}</td>
      <td class="competitions-table-cell">{{ junc.classification }}</td>
    </tr>
  {% endfor %}
{% endblock table_rows %}
