{% load static %}
<form class="form" action="{{ form_action }}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form_teams.management_form }}
  {% for field in form %}
    {% if field.name == 'teams' %}
      {{field.get_edition_team}}
    {% endif %}
    <div class="field-group">
      <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
      {% if field.name == 'categories' %}
        {% for i in field %}
          <div class="{{ i.get_css_class }}">
            {{ i }}
          </div>
        {% endfor %}
      {% else %}
        {{ field }}
      {% endif %}
      {% if field.errors %}
        <div class="field-errors">
          {% for error in field.errors %}
            <div class="field-error">{{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  {% for ft in form_teams %}
    <div class="inlineform">
      {{ ft }}
    </div>
  {% endfor %}
  {% include "global/partials/_form-buttons.html" %}
</form>