{% load custom_tags %}
{% for field in form %}
  {% if field.name == 'teams' %}
    {{field.get_edition_team}}
  {% endif %}
  <div class="field-group">
    <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
    {% if field.name == 'categories' %}
      {% for i in field %}
        <div class="{{ i.get_css_class }}">
          {{ i }}
        </div>
      {% endfor %}
    {% else %}
      {{ field }}
    {% endif %}
    {% check_error field %}
  </div>
{% endfor %}
