{% extends "global/partials/_table.html" %}
{% load static %}
{% block table_header_rows %}
  <th class="base-table-header">Equipe</th>
  <th class="base-table-header">Pontuação</th>
  <th class="base-table-header">Posição</th>
{% endblock table_header_rows %}
{% block table_rows %}
  {% for junc in edition.get_edition_team_current%}
    <tr class="base-table-row">
      <td class="base-table-cell">{{ junc.team.name }}</td>
      <td class="base-table-cell">{{ junc.score|floatformat:2 }}</td>
      <td class="base-table-cell">{{ junc.classification|default:"-"}}</td>
    </tr>
  {% endfor %}
{% endblock table_rows %}
