footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem 22rem;
  background-color: var(--gray-900);
  font-family: var(--font-family);
  height: 33rem;
}

.footer-container-top {
  display: flex;
  width: 100%;
  margin-bottom: 2.8rem;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-heading {
  color: var(--gray-400);
  margin-bottom: 1rem;
}

.footer-text {
  color: var(--gray-200);
  margin-bottom: 0.5rem; /*Test*/
}

.footer-column {
  display: flex;
  flex-flow: column nowrap;
}

.footer-copyright {
  color: var(--gray-400);
}

.footer-logo {
  width: 20rem;
  /* height: 70px; */
  color: var(--gray-400); /*Test*/
}
