footer {
  background-color: var(--gray-900);
  color: var(--gray-200);
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-block: 5rem;
}

.footer-container-top {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-heading,
.footer-copyright {
  color: var(--gray-400);
}

.footer-heading {
  margin-bottom: 1rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-logos {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.ifrn-logo {
  height: 4rem;
}

.semadec-hub-logo {
  width: max-content;
  font-size: var(--font-size-content-big);
  font-weight: 700;
}

.footer-divider {
  width: 0.2rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--gray-400);
}
