.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field-group input[type="text"],
.field-group input[type="number"],
.field-group-inline input[type="number"],
.field-group select,
.field-group textarea {
  border: 0.2rem solid var(--gray-500);
  padding: 1rem;
  transition: var(--transition);
  border-radius: 1rem;
  color: var(--green-950);
}

.field-group input[type="text"]::placeholder,
.field-group input[type="number"]::placeholder,
.field-group-inline input[type="number"]::placeholder,
.field-group select {
  color: var(--gray-500);
}

.field-group input[type="text"]:focus,
.field-group input[type="number"]:focus,
.field-group-inline input[type="number"]:focus,
.field-group select:focus,
.field-group textarea:focus {
  border-color: var(--green-600);
}

.field-group input[type="checkbox"],
.field-group input[type="radio"] {
  accent-color: var(--green-600);
}
textarea {
  font-family: var(--vont-family);
}

textarea::placeholder {
  color: var(--gray-500);
}

.form-buttons {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.field-errors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field-error {
  text-align: center;
  border-radius: 1rem;
  border: 0.1rem solid var(--red-dark);
  padding: 1rem 0.5rem;
  background-color: var(--red-light);
  color: var(--red-dark);
}

div#id_edition_type div:focus-within,
div.input-checkbox-list:focus-within {
  border-color: var(--green-600);
}

div.input-checkbox-list {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  border: 0.2rem solid var(--gray-500);
  transition: var(--transition);
  color: var(--green-950);
}

div.input-checkbox-list div {
  padding: 1rem;
  color: inherit;
  /* border-radius: inherit; */
}

div.input-checkbox-list div:nth-child(even) {
  background-color: var(--gray-50);
}

div.input-checkbox-list label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
