.navigation-bar {
  border-bottom: 0.2rem solid var(--gray-300);
  margin-bottom: 5rem;
}

.navigation-bar-header {
  margin-right: 3rem;
}

.navigation-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.navigation-bar-menu {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navigation-bar-options {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navigation-bar-options > li {
  position: relative;
  transition: var(--transition);
}

.navigation-bar-options > li:hover {
  color: var(--green-700);
}

.navigation-bar-options > li:active {
  color: var(--green-800);
}

.navigation-bar-options > li::after {
  content: "";
  position: absolute;
  background-color: var(--green-700);
  border-radius: 50%;
  width: 0;
  height: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: var(--transition);
}

.navigation-bar-options > li:hover::after {
  width: 0.5rem;
  height: 0.5rem;
  bottom: -4rem;
}

.navigation-bar-options > li:active::after {
  background-color: var(--green-800);
}

.navigation-bar-divider {
  width: 0.2rem;
  height: 3.8rem;
  border-radius: 1rem;
  background-color: var(--gray-300);
}

.user-icon {
  width: 3rem;
  height: 3rem;
}

.user-icon.user-photo {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.login-button,
.profile-button {
  border-radius: 10rem;
  border: 0.1rem solid var(--green-950);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0.3rem;
  padding-right: 3rem;
  transition: var(--transition);
}

.login-button:hover,
.profile-button:hover {
  border-color: var(--green-700);
  color: var(--green-700);
}

.login-button:active,
.profile-button:active {
  border-color: var(--green-800);
  color: var(--green-800);
}

.login-button .user-icon path {
  transition: var(--transition);
}

.login-button:hover .user-icon path {
  fill: var(--green-700);
}

.login-button:active .user-icon path {
  fill: var(--green-800);
}

.mobile-menu {
  display: none;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  transition: var(--transition);
}

.mobile-menu:not(.active):hover {
  gap: 1rem;
}

.mobile-menu.active:hover {
  transform: rotate(90deg);
}

.navigation-bar-options.active {
  left: 0;
}

.mobile-menu .bar {
  display: block;
  width: 2.8rem;
  height: 0.2rem;
  border-radius: 10rem;
  transition: all 150ms ease-in-out;
  background-color: var(--green-950);
}

.mobile-menu.active .bar:nth-child(1) {
  transform: translateY(0.7rem) rotate(45deg);
}

.mobile-menu.active .bar:nth-child(2) {
  width: 0;
}

.mobile-menu.active .bar:nth-child(3) {
  transform: translateY(-0.7rem) rotate(-45deg);
}

@media (max-width: 1100px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .navigation-bar-options {
    position: absolute;
    padding-block: 3rem;
    left: -100%;
    top: 8rem;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-radius: 0 0 3rem 3rem;
    background-color: var(--green-50);
    transition: all 150ms ease-in-out;
    z-index: 10;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 10%);
  }
  .navigation-bar-divider {
    display: none;
  }
}

@media (max-width: 600px) {
  .user-icon ~ span {
    display: none;
  }
  .profile-button,
  .login-button {
    padding-right: 0.3rem;
  }
}

@media (max-width: 400px) {
  .navigation-bar-header {
    display: none;
  }
  .navigation-bar-menu {
    width: 100%;
    justify-content: space-between;
  }
}
