.searchbar-form-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 4rem;
  gap: 1rem;
  padding: 1rem 1.5rem;
  height: 4rem;
  border: 1px solid black;
  border-radius: 3rem;
}

.searchbar-form {
  width: 100%;
}

.searchbar-input {
  width: 95%;
}

.searchbar-form-icon {
  width: 2rem;
  height: 2rem;
}
