* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-content-small);
  font-family: var(--font-family);
  color: var(--green-950);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--font-size-heading-huge);
}

h2 {
  font-size: var(--font-size-heading-large);
}

h3 {
  font-size: var(--font-size-heading-big);
}

h4 {
  font-size: var(--font-size-heading-normal);
}

h5 {
  font-size: var(--font-size-heading-small);
}

h6 {
  font-size: var(--font-size-heading-tiny);
}

.content {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.section {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.section-header {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}

.section-header-line {
  width: 35rem;
  max-width: 100%;
  border: 0.1rem solid var(--green-950);
  border-radius: 1rem;
}

.button {
  background-color: var(--green-500);
  color: var(--green-950);
  font-family: var(--font-family);
  font-size: var(--font-size-content-big);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 4rem;
  border-radius: 1rem;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--green-600);
}

.button:active {
  background-color: var(--green-700);
}

.button > img {
  width: 2.5rem;
}
