{% load static %}
<div class="document-collection-item-container">
  <header class="document-collection-item-header">
    <h5 class="document-collection-item-title">{{ document_collection.title }}</h5>
    <p class="document-collection-item-meta">Por {{ document_collection.administrator.name }} em {{ document_collection.created_at }}</p>
  </header>
  <div class="document-list">
    {% for document in document_collection.get_documents %}
      {% include "documents/partials/_document-item.html" %}
    {% endfor %}
  </div>
  {% if user.is_admin and document_collection.administrator == user %}
    <div class="admin-actions">
      <a class="button" href="{% url "documents:delete_document" document_collection.slug %}">
        <img src="{% static "global/img/delete.svg" %}" alt="">
        <span>Apagar coleção</span>
      </a>
    </div>
  {% endif %}
</div>