{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include "global/partials/_head.html" %}
    {% block additional_head %}{% endblock additional_head %}
  </head>
  <body>
    {% if user.is_admin %}
      {% include "global/partials/_sidebar.html" %}
      <script src="{% static "global/js/sidebar.js" %}"></script>
    {% endif %}
    {% include "global/partials/_navigation-bar.html" %}
    {% if messages %}
      {% include "global/partials/_messages.html" %}
    {% endif %}
    {% block main %}{% endblock main %}
    {% include "global/partials/_footer.html" %}
    <script src="{% static "global/js/mobile-menu.js" %}"></script>
    {% block additional_script %}{% endblock additional_script %}
  </body>
</html>