.edition-item-wrapper {
  margin-top: 3rem;
}

.edition-item-link {
  transition: var(--transition);
  text-decoration: none;
  text-decoration-color: transparent;
}

.edition-item-link:hover {
  text-decoration: underline dotted;
  text-decoration-color: var(--green-800);
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.3rem;
}

.edition-item-name {
  display: inline;
  font-size: var(--font-size-heading-big);
  color: var(--green-800);
  font-weight: 700;
}

.edition-item-year {
  font-size: var(--font-size-heading-small);
  color: var(--gray-400);
  font-weight: 400;
}

.edition-item-theme {
  font-size: var(--font-size-heading-small);
  color: var(--green-800);
  font-weight: 400;
}

.edition-item-type {
  font-family: var(--font-family);
  font-size: var(--font-size-content-small);
  color: var(--green-950);
}

.edition-item-container-outer {
  border-left: 3px solid var(--green-800);
  margin-top: 2rem;
  padding: 2rem 0 4rem 2rem;
}

.edition-item-type span:first-child {
  font-weight: 700;
}

.edition-item-type span:last-child {
  font-weight: 400;
}

.edition-item-container-inner {
  margin-top: 2rem;
}

@media screen and (max-width: 400px) {
  .edition-item-container-outer {
    border-left: none;
    border-bottom: 3px solid var(--green-800);
    padding-left: 0;
  }
}
