.category-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-size: var(--font-size-content-small);
  font-family: var(--font-family);
}

.category-tag-male {
  background: var(--blue-light);
  color: var(--blue-dark);
}
.category-tag-female {
  background: var(--red-light);
  color: var(--red-dark);
}
.category-tag-mix {
  background: var(--yellow-light);
  color: var(--yellow-dark);
}
