.competitions-table {
  width: 100%;
  border-spacing: 0;
}

.competitions-table-head {
  text-align: left;
}

.category-tags-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 0.4rem;
  width: fit-content;
}

.competitions-table-date {
  font-size: var(--font-size-content-small);
  color: var(--gray-800);
}

.competitions-table-head,
.competitions-table-body {
  font-size: var(--font-size-content-normal);
}

.competitions-table-head {
  background: var(--gray-100);
  color: var(--gray-500);
  height: 3rem;
}

.competitions-table-header,
.competitions-table-cell {
  padding: 0.7rem 1.5rem;
}

.competitions-table-header:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.competitions-table-header:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.competitions-table-body
  .competitions-table-row:not(:last-child)
  .competitions-table-cell {
  border-bottom: 1px solid var(--gray-500);
}

.competitions-table-row td:first-child {
  width: 55%;
}

.category-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-size: var(--font-size-content-small);
  font-family: var(--font-family);
}

.category-tag-male {
  background: var(--blue-light);
  color: var(--blue-dark);
}
.category-tag-female {
  background: var(--red-light);
  color: var(--red-dark);
}
.category-tag-mix {
  background: var(--yellow-light);
  color: var(--yellow-dark);
}
