{% extends "global/pages/base_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "documents/css/document-item.css" %}">
  <link rel="stylesheet" href="{% static "documents/css/document-collection-item.css" %}">
  <link rel="stylesheet" href="{% static "global/css/pagination.css" %}">
{% endblock additional_head %}
{% block header %}Documentos{% endblock header %}
{% block content %}
  {% load custom_tags %}
  {% if db_regs|length != 0 %}
    {% include "global/partials/_search-bar.html" %}
  {% endif %}
  {% load_create_button user=user namespace="documents:create_document" label="Criar documento"%}
  {% load_regs db_regs user=user template="documents/partials/_document-collection-item.html" empty="Nenhum documento foi encontrado." reg="document_collection" div="document-collection-list" %}
  {% if db_regs.has_other_pages %}
    {% include "global/partials/_pagination.html" %}
  {% endif %}
{% endblock content %}