{% extends "global/pages/base_header.html" %}
{% load static %}
{% load custom_tags %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "archive/css/archive.css" %}">
  <link rel="stylesheet" href="{% static "global/css/pagination.css" %}">
{% endblock additional_head %}
{% block header %}Acervo{% endblock header %}
{% block content %}
  {% load custom_tags %}
  {% if db_regs|length > 0 %}
    {% include "global/partials/_search-bar.html" %}
  {% endif %}
  {% load_create_button user=user namespace="archive:create" label="Criar arquivo"%}
  {% load_regs db_regs user=user template="archive/partials/_archive-item.html" div="archive-list" empty="Nenhuma coleção de acervo foi encontrada." %}
  {% if paginator and page_obj.has_other_pages %}
    {% make_pagination_range paginator=paginator current_page=page_obj.number %}
  {% endif %}
{% endblock content %}
