{% extends "global/partials/_table.html" %}
{% load static %}
{% block table_header_rows %}
  <th class="base-table-header">Time</th>
  <th class="base-table-header">Turmas</th>
  {% if user.is_admin %}
    <th class="base-table-header">Ações</th>
  {% endif %}
{% endblock table_header_rows %}
{% block table_rows %}
  {% for reg in db_regs %}
    <tr class="base-table-row">
      <td class="base-table-cell base-table-cell-left">{{ reg.name }}</td>
      <td class="base-table-cell base-table-cell-left">
        {{ reg.get_classes|join:", " }}
      </td>
      {% if user.is_admin %}
        <td class="base-table-cell base-table-cell-right">
          <a href="{% url 'teams:teams_edit' reg.slug %}"><img style="filter:var(--filter-green-500);" class="base-table-edit" src="/static/global/img/edit.svg" alt=""></a>
          <a href="{% url 'teams:teams_delete' reg.slug %}"><img style="filter:var(--filter-green-500);" class="base-table-edit" src="/static/global/img/delete.svg" alt=""></a>
        </td>
    {% endif %}
    </tr>
  {% endfor %}
{% endblock table_rows %}
