{% load static %}
<form class="form" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% load custom_tags %}
  {% for field in form %}
    {% if field.name == "collection_type" %}
      {{ field }}
    {% elif field.name == "tags" and field.field.queryset|length == 0 %}
    {% else %}
      <div class="field-group">
        <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
        {{ field }}
        {% check_error field %}
      </div>
    {% endif %}
  {% endfor %}
  <div class="field-group documents-container">
    <label class="button" for="{{ document_form.documents.id_for_label }}">
      <span>Selecionar documentos</span>
      {{ document_form.documents }}
    </label>
    <div class="documents-list-container">
      <div class="documents-list-row documents-list-row-header">
        <span><strong>Nome de exibição</strong></span>
        <span><strong>Arquivo</strong></span>
      </div>
      <div class="nothing-found">
        <p>Nenhum documento foi selecionado.</p>
      </div>
    </div>
  </div>
  {% if is_editing %}
    <table class="documents-table">
      <thead>
        <tr>
          <th>Nome de exibição</th>
          <th>Arquivo</th>
          <th>Remover?</th>
        </tr>
      </thead>
      <tbody>
        {% for document in form.instance.get_documents %}
          <tr>
            <td>
              <input type="text" name="document-{{ document.id }}" value="{{ document.name }}" maxlength="100" required="true">
            </td>
            <td>
              <span>{{ document.content|filename }} ({{ document.content.size|filesizeformat }})</span>
            </td>
            <td>
              <label>
                <input type="radio" name="document-{{ document.id }}" value="yes"> Sim
              </label>
              <label>
                <input type="radio" name="document-{{ document.id }}" value="no" checked> Não
              </label>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% include "global/partials/_form-buttons.html" %}
</form>