{% extends "global/pages/base_no_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "documents/css/create-document-collection.css" %}">
  <link rel="stylesheet" href="{% static "documents/css/edit-document-collection.css" %}">
  <link rel="stylesheet" href="{% static "global/css/tags-form.css" %}">
{% endblock additional_head %}
{% block content %}
  {% include "documents/partials/_form.html" %}
{% endblock content %}
{% block additional_script %}
  <script src="{% static "documents/js/documents.js" %}"></script>
{% endblock additional_script %}