{% extends "global/pages/base_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "competitions/css/competitions.css" %}">
{% endblock additional_head %}
{% block header %}Competições{% endblock header %}
{% block content %}
  {% include "global/partials/_searchbar.html" %}
  <div class="competitions-options">
    <a class="competitions-option-container" href="{% url "competitions:sports" %}">
      <span>Esportes</span>
      {% if page_variant == 'sports' %}
        <hr class="competitions-options-selected">
      {% endif %}
    </a>
    <hr class="competitions-options-line">
    <a class="competitions-option-container" href="{% url "competitions:tests" %}">
      <span>Provas</span>
      {% if page_variant == 'tests' %}
        <hr class="competitions-options-selected">
      {% endif %}
    </a>
  </div>
  {% if page_variant == 'sports'%}
    {% include "competitions/partials/_competitions-table-sports.html" %}
  {% elif page_variant == 'tests' %}
    {% include "competitions/partials/_competitions-table-tests.html" %}
  {% endif %}
{% endblock content %}