{% extends "competitions/pages/competitions.html" %}
{% load static %}
{% block competitions_content %}
  {% if user.is_admin %}
    <div class="admin-actions-wrapper">
      <a class="button" href="{% url "competitions:sports_create" %}">
        <img src="{% static "global/img/add.svg" %}" alt="">
        <span>Adicionar esporte</span>
      </a>
    </div>
  {% endif %}
  {% if db_regs|length != 0 %}
    {% include "competitions/partials/_competitions-table-sports.html" %}
  {% else %}
    <p class="nothing-found">Nenhum esporte foi encontrado.</p>
  {% endif %}
{% endblock competitions_content %}
