{% extends "global/pages/base_no_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "home/css/home.css" %}">
{% endblock additional_head %}
{% load static %}
{% block main %}
<div>{% include "home/partials/_home-banner.html" %}</div>
{{ block.super }}
{% endblock main %}
{% block content %}
  <!--Competições-->
  <article class="homepage-block-outer">
    <div class="homepage-block-inner">
      <div class="homepage-block-header">
        <hr class="homepage-block-divider">
          <h3 class="homepage-block-heading">Últimas Notícias</h3>
        <hr class="homepage-block-divider">
      </div>
      {% if news_regs %}
        <div class="block-news-container">
          {% for news in news_regs %}
            {% include "home/partials/_news-item.html" %}
          {% endfor %}
        </div>
        <div class="block-show-more">
          <a href="{% url "news:home" %}">Clique aqui</a>
          para acessar mais notícias
        </div>
      {% else %}
        <p class="nothing-found">Nenhuma notícia foi encontrada.</p>
      {% endif %}
    </div>
    <!--Competições-->
    <div class="homepage-block-inner">
      <div class="homepage-block-header">
        <hr class="homepage-block-divider">
          <h3 class="homepage-block-heading">Últimas Competições</h3>
        <hr class="homepage-block-divider">
      </div>
      {% if matches_regs %}
        <div class="block-competitions-container">
          {% include "home/partials/_home-competitions-table.html" %}
        </div>
        <div class="block-show-more">
          <a href="{% url "competitions:home" %}">Clique aqui</a>
          para acessar mais competições
        </div>
      {% else %}
        <p class="nothing-found">Nenhuma competição foi encontrada.</p>
      {% endif %}
    </div>
    <!--Documentos-->
    <div class="homepage-block-inner">
      <div class="homepage-block-header">
        <hr class="homepage-block-divider">
          <h3 class="homepage-block-heading">Últimos Documentos</h3>
        <hr class="homepage-block-divider">
      </div>
      {% if document_reg %}
        <div class="block-competitions-container">
          {% include "home/partials/_home-documents.html" %}
        </div>
        <div class="block-show-more">
          <a href="{% url "documents:documents" %}">Clique aqui</a>
          para acessar mais documentos
        </div>
      {% else %}
        <p class="nothing-found">Nenhum documento foi encontrado.</p>
      {% endif %}
    </div>
    <!--Imagens-->
    <div class="homepage-block-inner">
      <div class="homepage-block-header">
        <hr class="homepage-block-divider">
          <h3 class="homepage-block-heading">Últimas Imagens</h3>
        <hr class="homepage-block-divider">
      </div>
      {% if archive_reg %}
        <div class="block-competitions-container">
          {% include "home/partials/_home-images.html" %}
        </div>
        <div class="block-show-more">
          <a href="{% url "archive:home" %}">Clique aqui</a>
          para acessar mais imagens
        </div>
      {% else %}
        <p class="nothing-found">Nenhuma imagem foi encontrada.</p>
      {% endif %}
    </div>
  </article>
{% endblock content %}