{% extends "global/pages/base_header.html" %}
{% load static %}
{% block header %}Editar edição{% endblock header %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "editions/css/edition-create.css" %}">
{% endblock additional_head %}
{% block content %}
  {% include "editions/partials/_edition-form.html" %}
  {{ form_teams.management_form }}
  {% for ft in form_teams %}
    <div class="inlineform">
        <hr>
        {{ ft }}
    </div>
  {% endfor %}
{% endblock content %}