{% extends "global/pages/base_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "competitions/css/competitions.css" %}">
{% endblock additional_head %}
{% block header %}Edições{% endblock header %}
{% block content %}
  {% load custom_tags %}
  {% if db_regs|length != 0 %}
    {% include "global/partials/_search-bar.html" %}
  {% endif %}
  {% load_create_button user=user namespace="editions:editions_create" label="Criar edição" %}
  {% load_regs db_regs template="editions/partials/_edition-item.html" empty="Nenhuma edição foi encontrada."%}
{% endblock content %}