{% extends "global/pages/base_header.html" %}
{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "editions/css/edition-detailed.css" %}">
{% endblock additional_head %}
{% block header %}{{ reg.name }}{% endblock header %}
{% block content %}
{% load custom_tags %}
{% load_create_button user=user namespace="competitions:matches_create" label="Criar partida" dispatcher=reg.pk%}
{% if matches %}
  <div class="edition-detailed-wrapper">
    <hr class="edition-detailed-divider">
    <h3 class="edition-detailed-heading">Partidas</h3>
    <hr class="edition-detailed-divider">
  </div>
  {% include "editions/partials/_edition-detailed-table.html" %}
{% else %}
  <p class="nothing-found">Nenhuma partida foi encontrada.</p>
{% endif %}
{% endblock content %}