{% load static %}
{% block additional_head %}
  <link rel="stylesheet" href="{% static "home/css/home-banner.css" %}">
{% endblock additional_head %}
<div id="home-banner-container">
  <div id="home-banner-elements">
    <h1 id="home-banner-header1">
      {{ last_edition.name|default:"SEMADEC Hub" }} <!--last SEMADEC name goes here-->
    </h1>
    <!--add conditional because theme is not obligatory-->
    <h3 id="home-banner-header3">
      {{ last_edition.theme|default:"Portal de informações da SEMADEC do Campus Currais Novos" }} <!--last SEMADEC theme-->
    </h3>
    <hr id="home-banner-divider">
    {% if last_edition %}
      <button id="home-banner-button" onclick="location.href='{% url 'editions:detailed' last_edition.pk%}'">Saiba mais</button>
    {% endif %}
  </div>
</div>